<div class = 'main_row'>
  <div class = 'medium-2 columns'>
    <div id = "tag_list">
      <%= render 'static_pages/partials/tag_list' %>
    </div>
  </div>

  <div class = 'medium-8 columns'>
    <div>
      <%= render 'static_pages/partials/map' %>
    </div>
  </div>

  <div class = 'medium-2 columns'>
    <div>
      <%= render 'static_pages/partials/nearby_users_list' %>
    </div>
  </div>
</div>

<div class = 'row'>

  <div id = 'users_show'>
  </div>

  <div id = 'broadcasts'>
    <%= render 'broadcasts/index', :broadcasts => @main_page.broadcasts, :page => 0 %>
  </div>
</div>
