<%= current_user.messages.count %> unread messages
<div id = 'show_messages'>
  <% if (current_user.messages.count > 0) %>
    <%= button_to 'show messages', messages_path, :method => :get, :remote => true %>
  <% end %>
</div>
