<div>
    <div id="map" style='width: 100%; height: 400px;'></div>

    <script>
handler = Gmaps.build('Google', {
            markers: {
                   clusterer: {
                   gridSize: 10,
                   maxZoom: 0}}});
    
      handler.buildMap({
provider: { 
maxZoom: 15,
scrollwheel: false
},
          internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%=raw @main_page.map_hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
      });

    </script>


</div>
