this is the users list
<% for location in @nearby %>
  <li>(<%= location.distance.round(2) %> miles)
  <%= location.name%>
  <%= link_to 'message', new_message_path(:receiver => location), :remote=> true %>
  <div id = 'new_message<%=location.id%>'></div>
  </li>
  <% end %>
