<h4>Nearby Users</h4>
<% for user in @main_page.nearby %>
  <li>  <%= link_to user.name, user_path(user), :remote=> true, 
                    :data => {:reveal_id => 'myModal'}%>
      (<%= user.distance.round(2) %> miles)
  </li>
  <% end %>
