Name: <%= user.name %></br>
Zip Code: <%= user.zip_code %></br>
<%= link_to 'Message', new_message_path(:receiver => user), :remote=> true %>

<h4>interests:</h4>
<ul>
<% user.tags.each do |p| %>
  <li><%= p.name %></li>
<% end %>
</ul>

