<ul>
<% @main_page.broadcasts.each do |broadcast| %>
  <%= render 'broadcasts/single_broadcast', :broadcast => broadcast %>
  </li>
<% end %>
</ul>

<div id = 'send_broadcast'>
  <%= form_tag broadcasts_url, :remote => true do %>
    <%= text_area_tag "broadcast[message]" %>
    <%= submit_tag "Broadcast Message ", :class => 'button' %>
  <% end %>
</div>
